/* -- fonts.css -- */

/* -- Roboto Light -- */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
         url('../fonts/Roboto-Light.woff') format('woff');
}

/* -- Roboto Regular -- */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff');
}

/* -- Roboto Black -- */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Roboto-Black.woff') format('woff2'),
         url('../fonts/Roboto-Black.woff') format('woff');
}