/* -- styles.css -- */

/* -- Common Styles -- */

:root {
    box-sizing: border-box;
    letter-spacing: 0.15em;
    font: normal normal 400 16px/1.5 'Roboto', sans-serif;
    color: #021a58;
}

*, ::before, ::after {
    box-sizing: inherit;
    outline: none;
}

html, body {
    height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

li {
    display: block;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
}

button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

/* -- Markers -- */

.markers > li::after {
    content: ' ';
    position: relative;
    top: 0.1em;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-left: .5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* -- Text Shadow -- */

.bg-text {
    position: relative;
}

.bg-text::before {
    content: attr(data-bg-text);
    position: absolute;
    left: -10px;
    top: 50%;
    z-index: -1;
    display: block;
    line-height: 1;
    font-size: 32px;
    color: #DCF1FF;
    transform: translateY(-85%);
}

@media (min-width: 576px) {
    .bg-text::before {
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .bg-text::before {
        font-size: 64px;
    }
}

@media (min-width: 992px) {
    .bg-text::before {
        font-size: 100px;
    }
}

@media (min-width: 1032px) {
    .bg-text::before {
        font-size: 120px;
    }
}

/* -- Button -- */

.btn {
    display: inline-block;
    padding: 15px 45px;
    border: solid 1px #F4522F;
    background-color: #f4522f;
    box-shadow: rgba(244, 82, 47, 0.35) 4px 4px 4px 0px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #f4522f;
}

/* --- Preloader --- */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.preloader.active {
    display: block;
}

.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
}

.preloader .loading div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: loading 1.2s linear infinite;
}

.preloader .loading div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}

.preloader .loading div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}

.preloader .loading div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}

.preloader .loading div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}

.preloader .loading div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}

.preloader .loading div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}

.preloader .loading div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}

.preloader .loading div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}

.preloader .loading div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}

.preloader .loading div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}

.preloader .loading div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}

.preloader .loading div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}

@keyframes loading {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/* -- Page -- */

.page {
    position: relative;
    overflow: hidden;
}

/* -- Extra Buttons -- */

.extra-btns {
    position: fixed;
    right: 60px;
    top: 50%;
    z-index: 10;
    display: none;
    margin-top: -73px;
}

@media (min-width: 992px) {
    .extra-btns {
        display: block;
    }
}

.extra-btns * {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: center / 42px no-repeat #fff;
    cursor: pointer;
    transition: transform .2s;
}

.extra-btns * + * {
    margin-top: 10px;
}

.extra-btns *:hover {
    transform: scale(1.05);
}

.extra-btns .top-btn {
    background-image: url('../images/arrow.svg');
}

.extra-btns .call-btn {
    background-image: url('../images/phone.svg');
}

.extra-btns .soc-btn {
    background-image: url('../images/facebook-logo.svg');
}

/* -- Grid -- */

.container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 576px) {
    .col-sm-6 {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .row-cols-md-2 > .col {
        width: 50%;
    }
    
    .col-md-5 {
        width: 41.666667%;
    }
    
    .col-md-7 {
        width: 58.333333%;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-2 > .col {
        width: 50%;
    }
    
    .row-cols-lg-3 > .col {
        width: 33.333333%;
    }
    
    .col-lg-4 {
        width: 33.333333%;
    }
    
    .col-lg-5 {
        width: 41.666667%;
    }
    
    .col-lg-7 {
        width: 58.333333%;
    }
    
    .col-lg-8 {
        width: 66.666667%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* -- Header -- */

.header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
}

.header::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: background-color .2s, box-shadow .2s;
}

.header.active::before {
    background: #fff;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1);
}

.header .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .opn-menu-btn {
    flex: 0 0 auto;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: url('../images/menu.svg') center / 50px no-repeat;
    transition: box-shadow .2s;
}

.header .opn-menu-btn:hover {
    box-shadow: 0 0 0 5px #fff;
}

@media (min-width: 992px) {
    .header .opn-menu-btn {
        display: none;
    }
}

.logo {
    display: inline-block;
}

.header .logo img {
    height: 50px;
}

.header .menu {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px;
    background: #fff;
}

.header .menu.active {
    display: block;
}

@media (min-width: 480px) {
    .header .menu {
        max-width: 80%;
        box-shadow: 15px 15px 30px rgba(196, 196, 196, 0.6);
    }
}

@media (min-width: 992px) {
    .header .menu {
        position: static;
        overflow: visible;
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
        box-shadow: none;
    }
}

.header .cls-menu-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    display: none;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    background: url('../images/close.svg') center / 32px no-repeat;
    transition: transform .2s;
}

.header .menu.active .cls-menu-btn {
    display: block;
}

@media (min-width: 992px) {
    .header .menu.active .cls-menu-btn {
        display: none;
    }
}

.header .cls-menu-btn:hover {
    transform: scale(1.05);
}

.header .menu .logo {
    display: none;
}

.header .menu.active .logo {
    display: inline-block;
}

@media (min-width: 992px) {
    .header .menu.active .logo {
        display: none;
    }
}

.header .menu .nav {
    display: none;
}

@media (min-width: 992px) {
    .header .menu .nav {
        display: block;
    }
}

.header .menu.active .nav {
    display: block;
}

@media (min-width: 992px) {
    .header .menu .nav ul {
        display: flex;
        align-items: center;
    }
}

.header .menu .nav li {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .header .menu .nav li {
        display: flex;
        align-items: center;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .header .menu .nav li:nth-child(1) {
        display: none;
    }
}

@media (min-width: 992px) {
    .header .menu .nav li:nth-child(2) {
        display: none;
    }
}

@media (min-width: 992px) {
    .header .menu .nav li:nth-child(n+4) {
        margin-left: 20px;
    }
}

@media (min-width: 1200px) {
    .header .menu .nav ul li:nth-child(n+4) {
        margin-left: 30px;
    }
}

.header .menu .nav a {
    font-weight: 900;
    font-size: 20px;
}

@media (min-width: 480px) {
    .header .menu .nav a {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .header .menu .nav a {
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        color: #000;
    }
}

.header .menu .nav a:hover {
    text-decoration: underline;
}

@media (min-width: 992px) {
    .header .menu .nav a:hover {
        text-decoration: none;
        color: #f4522f;
        transform: scale(1.05);
        transition: .2s;
    }
}

.header .menu .nav a::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: #f4522f;
}

@media (min-width: 992px) {
    .header .menu .nav a::before {
        display: block;
    }
}

.header .menu .nav a:hover::before {
    top: 100%;
    transition: .2s;
}

.header .menu .contact-list {
    display: none;
    margin-top: 25px;
    font-size: 14px;
}

@media (min-width: 420px) {
    .header .menu .contact-list {
        font-size: 18px;
    }    
}

.header .menu.active .contact-list {
    display: block;
}

@media (min-width: 992px) {
    .header .menu.active .contact-list {
        display: none;
    }
}

.header .menu .contact-list > li {
    margin-top: 15px;
}

.header .menu .contact-list a {
    color: #f4522f;
}

.header .menu .contact-list a:hover {
    text-decoration: underline;
}

.header .menu .contact-list .messenger-list li {
    display: inline;
    color: #f4522f;
}

.header .menu .contact-list .messenger-list li:before {
    content: '/ ';
}

.header .menu .contact-list .messenger-list li:first-child:before {
    content: '(';
}

.header .menu .contact-list .messenger-list li:last-child:after {
    content: ')';
}

.header .menu .contact-list .messenger-list li a {
    font-size: 14px;
}

.header .menu .language-list {
    display: none;
}

.header .menu.active .language-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media (min-width: 992px) {
    .header .menu.active .language-list {
        display: none;
    }
}

.header .menu .language-list li + li {
    margin-left: 20px;
}

.header .menu .language-list a {
    display: block;
    width: 42px;
    height: 42px;
    border: 5px solid transparent;
    border-radius: 50%;
}

.header .menu .language-list a:hover {
    border-color: #ccc;
}

.header .menu .language-list a.active {
    border-color: #f4522f;
}

.header .extra-box {
    display: flex;
    align-items: center;
}

.header .extra-box .btn {
    display: inline-block;
    padding: 5px 5px;
}

@media (min-width: 420px) {
    .header .extra-box .btn {
        padding: 5px 20px;
    }
}

.header .extra-box .lang-switcher {
    display: none;
    margin-left: 20px;
}

@media (min-width: 992px) {
    .header .extra-box .lang-switcher {
        display: inline-block;
    }
}

.header .extra-box .lang-switcher .current-lang {
    position: relative;
    display: inline-block;
    min-width: 40px;
    padding-right: 8px;
    cursor: pointer;
    color: #f4522f;
}

.header .extra-box .lang-switcher .current-lang:hover,
.header .extra-box .lang-switcher.active .current-lang {
    color: #021A58;
}

.header .extra-box .lang-switcher .current-lang:hover::after,
.header .extra-box .lang-switcher.active .current-lang::after {
    border-right-color: #021A58;
}

.header .extra-box .lang-switcher .current-lang::after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    margin-top: -2px;
    border: 4px solid transparent;
    border-right-color: #f4522f;
    transform: rotate(-90deg);
}

.header .extra-box .lang-switcher.active .current-lang::after {
    margin-top: -6px;
    transform: rotate(90deg);
}

.header .extra-box .lang-switcher .lang-list {
    position: absolute;
    display: none;
    background: #fff;
}

.header .extra-box .lang-switcher.active .lang-list {
    display: block;
}

.header .extra-box .lang-switcher .lang-list a:hover {
    color: #f4522f;
}

/* -- Hero -- */

.hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.bg {
    position: absolute;
    left: -190px;
    top: -190px;
    z-index: -1;
    width: 640px;
    height: 640px;
    border-radius: 50%;
    background: url('../images/01.png') 195px 241px / 225px no-repeat rgba(154, 216, 255, 0.25);
}

.hero .container {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 15px 150px;
}

.hero .subtitle {
    font-weight: 300;
    color: #f4522f;
}

.hero .title {
    line-height: 1.2;
    font-weight: 900;
    font-size: 46px;
}

.hero .service-list {
    margin-top: 15px;
    font-size: 20px;
}

.hero .feature-list {
    margin-top: 25px;
}

.hero .feature-list,
.hero .feature-list li {
    display: flex;
    align-items: center;
}

.hero .feature-list li + li {
    margin-left: 25px;
}

.hero .feature-list img {
    max-width: 32px;
}

.hero .feature-list p {
    margin-left: 5px;
    letter-spacing: 0;
    font-size: 14px;
}

.hero .btns {
    display: none;
}

@media (min-width: 992px) {
    .hero .btns {
        display: flex;
        margin-top: 60px;
    }
}

.hero .btn + .btn {
    margin-left: 15px;
}

.hero .scrl-btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: block;
    width: 24px;
    height: 40px;
    margin-left: -12px;
    padding: 0;
    border: 0;
    background: url('../images/scroll.svg') center / contain no-repeat; 
    transition: transform .2s;
}

.hero .scrl-btn:hover {
    transform: translateY(5px);
}

.hero .media-col {
    display: none;
    padding: 0;
}

@media (min-width: 992px) {
    .hero .media-col {
        display: flex;
        align-items: center;
    }
}

/* -- Modal Popup -- */

.modal-popup {
    position: relative;
    padding: 30px;
    background: white;
    margin: 20px auto;
}

.modal-popup .mfp-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
    background: url('../images/close.svg') center / 24px no-repeat !important;
    transition: transform .2s;
}

.modal-popup .heading {
    font-weight: 900;
    font-size: 22px;
    color: #f4522f;
}

.modal-popup .text {
    margin-top: 40px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.105em;
}

.modal-popup b {
    font-weight: 900;
}

.modal-popup .logo {
    margin-top: 30px;
}

.modal-popup .logo img {
    height: 40px;
}

/* -- Contact Popup -- */

.contact {
    max-width: 400px;
    text-align: center;
}

.contact .contact-list .phone,
.contact .contact-list .email {
    font-size: 14px;
}

.contact .contact-list {
    margin-top: 40px;
}

.contact .contact-list > li {
    margin-top: 15px;
    font-weight: 900;
    font-size: 18px;
}

.contact .contact-list > li > a {
    color: #f4522f;
}

.contact .contact-list a:hover {
    text-decoration: underline;
}

.contact .contact-list .messengers {
    margin-top: 0;
}

.contact .contact-list .messenger-list li {
    display: inline;
    font-weight: 300;
    font-size: 16px;
}

.contact .contact-list .messenger-list li:before {
    content: '/ ';
}

.contact .contact-list .messenger-list li:first-child:before {
    content: '(';
}

.contact .contact-list .messenger-list li:last-child:after {
    content: ')';
}

/* -- About Us Popup -- */

.about-us {
    max-width: 936px;
}

.about-us .text {
    margin-top: 20px;
}

/* -- Current Works Popup -- */

.current-works {
    max-width: 460px;
}

.current-works .text {
    margin-top: 15px;
}

.current-works .list {
    font-weight: 900;
    font-size: 14px;
}

.current-works .list li {
    margin-top: 15px;
    text-decoration: underline;
}

.current-works .list li::after {
    top: .4em;
    width: 2em;
    height: 2em;
    background-image: url('../images/link.svg');
}

.current-works a:hover {
    text-decoration: underline;
    color: #f4522f;

}

/* -- Section -- */

.section {
    padding: 50px 0;
}

@media (min-width: 992px) {
    .section {
        padding: 100px 0;
    }
}

.section .heading {
    font-weight: 900;
    font-size: 24px;
    color: #f4522f;
}

/* -- Services -- */

.services .col {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .services .col {
        margin-top: 40px;
    }
}

@media (min-width: 992px) {
    .services .col {
        margin-top: 60px;
    }
}

.services .item {
    display: flex;
    align-items: center;
}

.services .item .item-img-box {
    flex: 1 0 auto;
    width: 100%;
    max-width: 80px;
}

.services .item img {
    max-width: 48px;
}

.services .item p {
    font-weight: 700;
    font-size: 18px;
    color: #ad1f00;
}

/* -- Why We -- */

.why-we .fluid-container {
    position: relative;
    margin-top: 20px;
}

.why-we ul {
    padding-right: 15px;
}

@media (min-width: 992px) {
    .why-we ul {
        padding: 0;
    }
}

.why-we ul li {
    background: #E6F5FF;
}

.why-we ul li + li {
    margin-top: 20px;
}

.why-we ul li > div {
    margin-right: -15px;
}

@media (min-width: 992px) {
    .why-we ul li > div {
        margin: 0;
    }
}

.why-we ul li > div > div {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
}

@media (min-width: 1200px) {
    .why-we ul li > div > div {
        max-width: 80%;
    }
}

.why-we ul li > div > div > div {
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

@media (min-width: 992px) {
    .why-we ul li > div > div > div {
        width: 50%;
    }
}

.why-we ul li > div > div > div::before {
    flex: 0 0 auto;
    content: ' ';
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 15px;
    background: url('../images/rectangle.svg') center / 42px no-repeat
}

.why-we .media-col {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    .why-we .media-col {
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        right: 0;
        background: #fff;
        margin-left: 15px;
        align-items: center;
        justify-content: flex-start;
    }
}

.why-we .media-col img {
    max-height: 100%;
}

.why-we .fluid-container .heading {
    text-align: center;
    position: relative;
    z-index: 4;
    margin-top: 20px;
}

/* -- Digits -- */

#digits.heading {
    padding-top: 25px;
}

@media (min-width: 992px) {
    .digits .heading {
        text-align: right;
    }
}

.digits .data-col .col {
    margin-top: 20px;
}

.digits .item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: #E6F5FF;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: #f4522f;
}

.digits h3 {
    color: #021A58;
}

.digits p {
    font-size: 72px;
}

.digits ul {
    margin-top: 20px;
}

.digits li {
    display: inline;
}

.digits li::after {
    content: ',';
}

@media (min-width: 992px) {
    .digits .data-col {
        order: 2;
    }
}

.digits .media-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

@media (min-width: 992px) {
    .digits .media-col {
        margin: 0;
        order: 1;
    }
}

/* -- Contacts -- */

.contacts {
    position: relative;
}   

.contacts .bg {
    width: 400px;
    height: 400px;
    left: -250px;
    top: -150px;
    background: rgba(154, 216, 255, 0.25);
}

.contacts .data-col .col {
    margin-top: 40px;
}

@media (min-width: 768px) {
    .contacts .contact-box-col {
        padding-right: 0;
    }
}

.contacts .contact-box {
    padding: 40px 20px;
    border-radius: 20px;
    background: #9ad8ff;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: #f4522f;
}

.contacts .contact-box p {
    color: #021A58;
}

.contacts .contact-box .list li {
    margin-top: 20px
}

.contacts .contact-box .list a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .contacts .data-col .map-col {
        position: relative;
        overflow: hidden;
        padding: 20px 15px 20px 0;
    }
}

.contacts .map-box {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .contacts .map-box {
        border-radius: 0 20px 20px 0;
        padding: 0;
        height: 100%;
    }
}

.contacts iframe {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.contacts .form-col {
    margin-top: 40px;
}

.contacts .contact-form .heading {
    font-weight: 900;
    font-size: 18px;
    color: #f4522f;
}

.contacts .contact-form .form-group {
    margin-top: 20px;
}

.contacts .contact-form .form-group.name {
    margin-top: 40px;
}

.contacts .contact-form .form-group.contact-info {
    display: none;
}

@media (min-width: 768px) {
    .contacts .contact-form .form-group.contact-info {
        display: block;
    }
}

@media (min-width: 768px) {
    .contacts .contact-form .form-group.phone,
    .contacts .contact-form .form-group.email {
        display: none;
    }
}

.contacts .contact-form .form-group.message {
    margin-top: 40px;
}

.contacts .contact-form input,
.contacts .contact-form textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #021A58;
    border-bottom: 1px solid rgba(2, 26, 28, 50%);
    font: normal normal 400 14px/1.5 'Roboto', sans-serif;
    color: #000000;
}

@media (min-width: 992px) {
    .contacts .contact-form input,
    .contacts .contact-form textarea {
        max-width: 300px;
    }
}

.contacts .contact-form input::placeholder,
.contacts .contact-form textarea::placeholder {
    font: normal normal 400 14px/1.5 'Roboto', sans-serif;
    color: #000000;
}

.contacts .contact-form input:focus::placeholder,
.contacts .contact-form textarea:focus::placeholder {
    color: #ccc;
}

.contacts .contact-form .error {
    letter-spacing: normal;
    font-weight: 900;
    font-size: 10px;
    color: #f4522f;
}

.contacts .contact-form .form-notification {
    margin-top: 20px;
    font-weight: 900;
    font-size: 14px;
}

.contacts .contact-form .form-btn {
    margin-top: 20px;
}

.contacts .media-col {
    margin-top: 40px;
}

@media (min-width: 992px) {
    .contacts .media-col {
        margin-top: 0;
    }
}

/* -- Footer -- */

.footer  {
    padding: 20px 0;
    background: #021A58;
}

@media (min-width: 992px) {
    .footer {
        padding: 40px 0;
    }
}

.footer * {
    color: #fff;
}

.footer .col {
    margin-top: 40px;
}

.footer .info-col p {
    margin-top: 20px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .btn {
    margin-top: 25px;
}

.footer .btn:hover {
    text-decoration: none;
}

.footer .heading {
    font-weight: 900;
    color: #f4522f;
}

.footer li {
    margin-top: 20px;
}

.footer .contact-col h3 {
    font-weight: 900;
    font-size: 16px;
    color: #f4522f;
}

.footer .copyright {
    width: 100%;
}